.modal-rules {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  justify-content: center;
  background-color: $white;
  padding: 5rem;
  padding-top: 7rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  @include mq(small) {
    inset: 50% auto auto 50%;
    padding-top: 7rem;
    border-radius: 1rem;
    transform: translate(250%, -50%);
  }

  p {
    color: $Dark-Text;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include mq(small) {
      position: absolute;
      top: 2.5rem;
      left: 2rem;
    }
  }

  &[data-visible="true"] {
    transform: translateX(0%);
    @include mq(small) {
      transform: translate(-50%, -50%);
    }
  }

  .btn-close {
    width: 2rem;
    aspect-ratio: 1;
    margin: 0 auto;
    padding: 2rem;
    background-image: url(../images/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    @include mq(small) {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
    }
    &:hover {
      opacity: 80%;
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.33);
  display: none;
}
